<p-card>
  <p>
    lazy-page works!
  </p>

  <p-button label="Click" icon="fa fa-check" iconPos="left"></p-button>
  <p-button label="Click" styleClass="ui-button-info"></p-button>
  <p-button label="Click" styleClass="ui-button-warning"></p-button>

</p-card>
