:host {
  display: block;
  height: 100%;
}
.dashboard {
  //height: 100%;
  display: flex;
  //align-items: stretch;

  .left {
    flex: 1;
    background: #fff;
  }

  .right {
    flex: 0 0 300px;
    margin-left: 15px;

    p-card:not(:last-child) {
      margin-bottom: 15px;
    }
    .personal-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 40px;
    }
    ngl-avatar {
      width: 80px;
      height: 80px;
    }
  }
}

.chart-area {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    flex: 1;
  }

  .legend {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      margin-bottom: 10px;
      margin-right: 18px;
      white-space: nowrap;

      span:nth-child(1) {
        display: inline-block;
        width: 25px;
        height: 12px;
        border-radius: 3px;
      }
    }
  }

}
