<div class="dashboard">
  <p-card title="PrimeNG charts" class="left">
    <div class="chart-area">
      <div>
        <p-chart #pie type="pie" [data]="data" [options]="options"></p-chart>
        <ul class="legend">
          <li *ngFor="let value of myLegends.values; let i = index">
            <span [ngStyle]="{background: myLegends.backgroundColor[i]}"></span>
            <span>{{myLegends.labels[i]}}-{{value}}</span>
          </li>
        </ul>
      </div>

      <div>
        <p-chart #bar type="bar" [data]="data2"></p-chart>
      </div>
    </div>
  </p-card>

  <div class="right">
    <p-card title="User Info">
      <div class="personal-info">
        <ngl-avatar
          type="circle"
          size="large"
          src="assets/images/avatar1.jpg"
          alt="portrait"></ngl-avatar>
        <p>Mr Qiao</p>
      </div>
    </p-card>

    <p-card title="Calendar">
      <ngl-datepicker [(date)]="date" class="slds-box slds-box--x-small"></ngl-datepicker>
    </p-card>
  </div>

</div>

