@import "../../../../global";

$Size: 40px;
@mixin shape {
  position: absolute;
  top: 0;
  left: 0;
  width: $Size;
  height: $Size;
  line-height: $Size;
  border-radius: 50%;
  text-align: center;
  background: $gfRed;
  transition: transform 0.5s ease;
  backface-visibility: hidden;

  &:hover { background: darken($gfRed, 10%);}
}

.user {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 10px;
  width: $Size;
  height: $Size;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  .userName {
    @include shape;
    font-size: 18px;
    font-weight: 700;
  }
  .buttons {
    @include shape;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    transform: rotateY(180deg);
  }

  &:hover,
  &.reverse {
    .userName {
      transform: rotateY(180deg);
    }
    .buttons {
      transform: none;
    }
  }
}
