<app-header></app-header>

<div class="app-wrap">

  <app-menu></app-menu>

  <div class="app-content">
    <div class="app-scroll-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

