@import "../global";

.app-wrap {
  position: relative;
  width: 100%;
  height: 100%;

  app-menu {
    float: left;
    height: 100%;
    background: #fff;
  }

  .app-content {
    padding: 20px 20px 20px 0;
    height: 100%;
    overflow: hidden;
  }
  .app-scroll-content {
    height: 100%;
    padding: 15px 15px 15px 20px;
    overflow: auto;
    border-radius: 10px;
    background: #e6edf0 linear-gradient(135deg, #e6edf0 30%, #f9f8f5 100%);
  }
}
