@import "../../../../global";

.menu-wrapper {
  width: $menuWidth;
  height: 100%;
  transition: width 0.25s ease;
  display: flex;
  flex-direction: column;

  .top {
    padding: 40px 0 30px;
    border-bottom: 1px solid $gfLightCyan;

    .logo {
      display: block;
      width: 50px;
      margin: 0 auto 15px;
    }

    h1 {
      text-align: center;
      font-size: 18px;
      color: $gfRed;
      white-space: nowrap;
    }
  }

  .toggleBtn {
    $btnWidth: 30px;

    width: 0;
    height: 0;
    margin: -$btnWidth 0 -$btnWidth;
    border-right: $btnWidth solid rgba(25, 116, 177, 0.3);
    border-top: $btnWidth solid transparent;
    border-bottom: $btnWidth solid transparent;
    position: relative;
    left: $menuWidth;
    cursor: pointer;

    &:hover { border-right: $btnWidth solid rgba(25, 116, 177, 0.5); }

    &::after {
      content: '';
      position: absolute;
      right: -$btnWidth;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-right: 10px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
  }
  .panelMenuScrollWrapper {
    flex: 1;
    overflow-y: auto;
  }
  p-panelMenu {
    display: block;
    width: $menuWidth;
    padding-left: 20px;
    // 修改panelMenu控件的默认样式
    .ui-panelmenu {
      a, div {
        border: none!important;
        background: transparent!important;
      }
      .ui-panelmenu-panel {
        &::after {
          content: '';
          display: block;
          margin-left: 40px;
          height: 1px;
          background: $gfLightCyan;
        }
        .ui-panelmenu-header-link {
          padding: 1em;
        }
        .ui-state-default a,
        .ui-panelmenu-header.ui-state-active a:not(.ui-state-active) {
          color: #213353;
        }
        a.ui-state-active {
          color: $gfOrange!important;
        }
        .ui-panelmenu-icon {
          float: right;
          margin-top: 4px;
          margin-right: 10px;
        }
        .ui-menuitem-icon {
          margin-right: 10px;
          font-size: 1.3rem;
        }
        &:first-child .ui-menuitem-icon { color: #c57264;}
        &:nth-child(2) .ui-menuitem-icon { color: #e0aa58; transform: scale(0.86);}
        &:nth-child(3) .ui-menuitem-icon { color: #6fa4a3; transform: scale(0.95);}
        &:nth-child(4) .ui-menuitem-icon { color: #6487c5; transform: scale(0.82);}
        &:nth-child(5) .ui-menuitem-icon { color: #a37aa7;}
      }

      .ui-submenu-list {
        padding-left: 40px;
        padding-right: 25px;
        font-size: 12px;
        li {
          margin-bottom: 10px;
          a { padding-left: 8px; }
          a.ui-state-active {
            border: 1px solid lighten($gfOrange, 30%)!important;
          }
        }
      }
    }

  }

  &.collapsed { // menu收起后的样式
    width: 50px;
    overflow: hidden;

    .top { display: none; }
    .toggleBtn {
      width: 40px;
      height: 40px;
      margin: 40px auto 20px;
      left: 0;
      border: 0;
      border-radius: 50%;
      background: #6fa3d5 linear-gradient(180deg, #9ccdff 0, #105282 100%);
      transform: rotate(180deg);
      justify-content: center;

      &::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    p-panelMenu {
      padding-left: 3px;

      .ui-panelmenu-panel {
        &::after { margin-left: 8px; }
        .ui-panelmenu-header.ui-state-active {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 8px;
            width: 40px;
            height: 3px;
            background: $gfOrange;
          }
        }
        .ui-panelmenu-content-wrapper { display: none; }
        .ui-menuitem-icon { transform: scale(1.2); }
        &:nth-child(2) .ui-menuitem-icon { transform: scale(1);}
        &:nth-child(3) .ui-menuitem-icon { transform: scale(1);}
        &:nth-child(4) .ui-menuitem-icon { transform: scale(1);}
      }

    }

  }

}



