<div class="menu-wrapper" [class.collapsed]="collapsed">
  <div class="top">
    <img class="logo" src="assets/images/gf_logo.png" alt="logo">
    <h1>广发香港MOT</h1>
  </div>
  <div class="toggleBtn" (click)="toggleMenu()"></div>

  <div class="panelMenuScrollWrapper">
    <p-panelMenu [model]="items"></p-panelMenu>
  </div>

</div>

