<!--<p-card title="Checkbox Selection">-->
  <h2 class="page-title">线下处理信息</h2>
  <div class="operate-line">
    <div class="filter">
      <input type="text" pInputText />
      <input type="text" pInputText />
      <ngl-picklist [data]="options" [(nglPick)]="pick" [(open)]="open" filter="value">
        <span class="slds-truncate">{{pick.value || 'Select an option'}}</span>
        <ng-template nglPicklistItem let-item>{{item.value}}</ng-template>
      </ngl-picklist>
      <p-button (onClick)="remove()" label="搜索" styleClass="ui-button-info"></p-button>
    </div>
    <div class="buttons">
      <p-button (onClick)="remove()" label="重发" styleClass="ui-button-warning"></p-button>
    </div>
  </div>

  <div class="wrapper">
    <div class="table">
      <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="8"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectAllRowsOnPage]="false"
        [displayCheck]="displayCheck"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
        <ngx-datatable-column
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Gender"></ngx-datatable-column>
        <ngx-datatable-column name="Company"></ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class='selected-column'>
      <h4>Selections <small>({{selected?.length}})</small></h4>
      <ul>
        <li *ngFor='let sel of selected'>
          {{sel.name}}
        </li>
        <li *ngIf="!selected?.length">No Selections</li>
      </ul>
    </div>
  </div>

<!--</p-card>-->
