/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "global";

* { box-sizing: border-box; }
html, body, h1, h2, h3, h4, h5, ul, li, p {
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #666;
  background: #fff;
}
ul,li { list-style: none;}
input, select, textarea {
  &:focus,
  &:active { outline: none;}
}


// 公共类
.flex,
[flex] {
  display: flex;
}

.flex-r,
[flex-r]{
  display: flex;
  justify-content: flex-end;
}

.flex-c,
[flex-c]{
  display: flex;
  justify-content: center;
}

.v-center,
[v-center]{
  align-items: center;
  text-align: center;
}

.operate-line {
  padding: 10px 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  .filter {
    flex: 1;
    display: flex;
    align-items: center;
    & > input, div {
      margin-right: 10px;
      min-height: 28px;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.page-title {
  margin-top: -5px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  color: #333;
}

// 覆盖第三方控件的默认样式
p-card {
  display: block;

  .ui-card { border: none;}

  .ui-card-title { font-size: 1rem;}
}

.ngx-datatable.material {
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}

